main {
    font-family: serif;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
    line-height: 65px;
}

ul li {
    font-size: 30px;
}

ul li a {
    color: #0f0f0f;
}

a {
    font-size: 30px;
    color: #7b7b7b;
}

a:hover {
    color: #0f0f0f;
}

div table {
    font-size: 30px;
}

